DEBUG=True
SECRET_KEY=your-secret-key
USE_SQLITE=True
DB_NAME=ai_image_generator
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432
IMAGE_API_KEY=your-api-key
GEMINI_API_KEY=your-gemini-api-key
APP_URL=http://localhost:3000
